# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.opensdf
*.pch
stl_tests/Debug/stl_tests.obj
*.pch
stl_tests/Debug/stl_tests.tlog/cl.command.1.tlog
*.tlog
stl_tests/Debug/stl_tests.tlog/CL.write.1.tlog
*.tlog
*.lastbuildstate
stl_tests/Debug/vc140.idb
*.filters
stl_tests/stl_tests.vcxproj
*.pdb
